footer.footer
  .container
    .level
    .divider.has-text-grey-lighter(style='border-top:1px solid currentColor;padding-top:10px;')
    .level
        .level-left
            .level-item.has-text-grey
                small= `SMS-twilio ${new Date().getFullYear()} | All rights reserved`    