extends layout.pug

block hero
    section.hero.is-dark.is-bold
        .hero-body
            .container
                h1.title SMS Twilio
                h2.subtitle Probando la api de twilio SMS

block content
  .container(style="flex: 1; padding: 50px 0;")
    .columns.is-multiline
      h2.title Hola mundo PUG 
      p.subtitle= message
          