extends layout.pug

block hero
  section.hero.is-light.is-bold
    .hero-body
      .container
        .columns.is-mobile
          .column.is-4.is-offset-4
            form(action='/send-sms' method='post')
              .field
                label.label Cell phone number
                .control
                  input.input(type='tel', placeholder='+57314464636' name="phone" autofocus required)
              .field
                label.label Message
                .control
                  textarea.textarea(placeholder='Write your message' name="message" required)
              input#datenow(type='hidden' name='create_dt' value='')
              .field.is-grouped
                .control
                  button.button.is-link Send


block content
  .container(style="flex: 1; padding: 50px 0;")
    .columns.is-multiline#messages
      each message in messages
        .column.is-one-quarter
          .card
            .card-title
              h1.title= message.phone
            .card-content
              p= message.message
              span= message.create_dt
          